section {
  background-image: url("https://images.unsplash.com/photo-1523438885200-e635ba2c371e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}

p {
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
}

form {
  margin-top: 15px;
  margin-bottom: 50px;
  color: white;
}
button {
  background-color: #1940aa;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
