<section>
  <div class="container">
		<h1>Bienvenue sur notre site web</h1>
		<p>Nous sommes heureux de vous accueillir sur notre page d'accueil. Explorez notre site pour découvrir nos produits et services.</p>
    <form>
      <div class="form-row">
        <div class="col-md-12">
          <label for="recherche">Pour effectuer une recherche!</label><br>
          <button type="submit" class="btn btn-primary" routerLink="/recherche">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

