<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
    <label class="logo">
      <i class="fas fa-ring"></i>
      <span id="wedding">W</span>edding<span id="day">D</span>ay
    </label>

  <ul>
    <li><a class="" routerLink="/accueil">Accueil</a></li>
    <li><a routerLink="/verification">verification</a></li>
    <!-- <li><a routerLink="/reservation">reservation</a></li> -->
    <li><a routerLink="/contact">contact</a></li>
  </ul>
</nav>
