main {
  background-image: url("https://media.istockphoto.com/id/1388562262/photo/beautiful-bride-and-groom-during-an-outdoors-wedding-ceremony-on-an-ocean-beach-at-sunset.jpg?s=612x612&w=0&k=20&c=kXRqwoiTbIklo_PHSsFdGXELv1_blhmuNpKdwqLaf04=");
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
