
  <h2> Liste des mairies</h2>

<table class = "table table-striped table-bordered">
  <thead>
      <tr>
          <th> Nom</th>
          <th> Addresse </th>
          <th> Phone</th>
          <th> Email </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let mairie of mairie" >
          <td> {{ mairie.nom }} </td>
          <td> {{ mairie.addresse }} </td>
          <td> {{ mairie.phone }} </td>
          <td> {{ mairie.email }} </td>
          <td>
              <button class = "btn btn-primary" style="margin-left: 10px" routerLink="/enregistrer"> Enregistrer Vous!</button>
          </td>

      </tr>
  </tbody>
</table>
